/docs/AccountinglinkC/AccountinglinkC/bin/*
/docs/AccountinglinkC/AccountinglinkC/obj/*
/docs/AccountinglinkC/.vs/*
/docs/AccountinglinkC/packages/*
/SqlAccountRestAPI/.vs/*
/SqlAccountRestAPI/bin/*
/SqlAccountRestAPI/obj/*
/SqlAccountRestAPI/Logs/*